body {
    background-color: white;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: red;
    padding: 10px 0;
  }
  
  #main-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #main-navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  #main-navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  h1 {
    text-align: center;
  }
  
  .two_movies {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .two_movies li {
    flex: 0 0 45%;
  }
  
  .chosen_movie {
    background-color: lightcoral;
    padding: 20px;
    margin-top: 20px;
  }
  
  .chosen_movie h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
