#dates-page {
  background-color: black;
}  

#index-page {
  background-color: black;
}  

#purchase-page {
  background-color: black;
}  

body {
  font-family: 'Noto Sans', Arial, sans-serif; /* arial as fallback? */
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}
  
header {
  background-color: red;
  color: white;
  padding: 10px 0;
}
  
#main-navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul li a:hover {
  background-color: black;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
  
#main-navbar ul li {
  display: block;
  margin-right: 20px;
  float: left;
}
  
#main-navbar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

#main-navbar ul li#onpage a {
  color: yellow; /* highlight link */
}

main {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}
  
header {
  background-color: red;
  color: white;
  padding: 10px 0;
}

button {
  text-align: center;
  font-size: 0.900em;
  color: #000000;
  margin: 1%;
  float: right;
}

  
h1 {
  font-weight: bold;
  font-size: 4.236em;
  padding: 15px;
  line-height: 1.4em;
  color: #000000;
  text-align: center;
  background-repeat: no-repeat;
  margin: 1%;
}
  
.container {
  margin: 20px;
  padding: 20px;
  background-color: #f8f8f8;
}
  
.container h1 {
  text-align: center;
  font-size: 36px;
}
  
form {
  text-align: center;
}
  
fieldset {
  border: none;
}
  
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"], 
input[type="password"],
input[type="email"] {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
  
input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: darkred;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
input[type="submit"]:hover {
  background-color: red;
}
  
.movie_picture {
  background-color: #f8f8f8;
  padding: 20px;
  margin: 20px;
}
  
.movie_picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}
  
.movie_description {
  background-color: #f8f8f8;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
 
#title {
  text-align: center;
  font-size: 18px;
  background-color: #f8f8f8;
  color: #610000;
  padding: 20px;
  margin: 20px;
} 
 
.movie-slider {
  width: 100%;
  overflow: hidden;
  background-color: #610000;
}

.listofMovies {
  width: 350px;
  height: 500px;
  margin-right: 20px;
}

.listofmovies {
  display: flex;
  justify-content: center;
  align-content: center;
}

.tour {
  border: 2px dotted;  
  border-radius: 8px;
  padding: 5px;
  border-width: thick;
  border-color: #610000;
}

.datesoftour{
  text-align:left;	
}

.movielist{
  text-align: center;	
}

.location {
  text-align: center;	
}

footer {
  background-color: darkred;
  color: white;
  text-align: center;
  padding: 20px 0;
}

  /* media  */
@media screen and (max-width: 768px) {
  .container {
    margin: 10px;
    padding: 10px;
  }
  
  .movie_picture {
    padding: 20px;
    margin: 20px;
    text-align: center;
  }

  .movie_description {
    background-color: #f8f8f8;
    padding: 20px;
    margin: 20px;
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
  
  .movie_picture img {
    max-width: 100%;
  }
  
  footer {
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
}  
  
  /* media  */
@media screen and (min-width: 769px) {
    .container, .movie_picture, .movie_description {
      margin: 20px;
      padding: 20px;
    }
    .movie_picture img {
      max-width: 100%;
    }
  .movie_description {
    margin: 10px;
    padding: 10px;
  }
}

/* additional min width quieries */
  @media screen and (min-width: 1024px){
    body{
      font-size: 18px; /* styling for larger screens */
    }
  }

@media screen and (min-width: 1280px){
    header {
      padding: 20px; /* increase header */
    }
    .container{
      max-width: 1200px; /* increase readability, limit container */
      margin: 0 auto;
    }
  }

 @media screen and (min-width: 1440px) {
    footer {
      padding: 30px 0; /* increase footer padding */
    }
    .movie_picture {
      margin: 30px; /* increase margin around picture */
    }
  }
